/*html*/
html {
    max-width: 100%;
    height: auto;
    font-size: 100%;
}

/*body*/
body {
    font-family: serif;
    max-width: 1000px;
    margin: auto;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: auto;
    height: 54px;
    position: relative;
    top: 30px;
    left: 30px;
}

#slogan {
    position: relative;
    right: 350px;
    top: 30px; 
    font-size: 24px;
}

/*nav*/
nav {
    background-color: black;
    padding: 0;
} 

nav ul {
    display: flex;
    list-style: none;
}  
    
nav ul li {   
    font-size: 12;
    padding: 15px 5px;
}
nav ul li a {  
    color: white;
}

/*promo*/
#promo {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/*main*/
main {
    display: flex;
    flex-direction: row;
}

/*left column Accueil*/
    #leftColumnAccueil {
        display: flex;
        width: 70%;
        flex-flow: row wrap;
    }

/*left column*/
    .leftColumnTableau {
        display: flex;
        width: 70%;
        flex-direction: column;
    }

/*left columnContact*/
.leftColumnContact {
    display: flex;
    width: 70%;
    flex-direction: column;
}

/*right column*/
    #rightColumn {
        display: flex;
        width: 30%;
        flex-flow: column wrap;
        background-color: lightgrey;
    }

/*table*/
table {
    table-layout: auto;
    width: 70%;
}

table thead {

}

table thead tr {

}

table thead tr th {
    font-size: 18px;
    text-align: center;
}

table tbody {

}

table tbody tr {

}
table tbody tr td {
    font-size: 12px;
    text-align: center;
}

.bbqImg {
    width: auto;
    height: 54px;
}

.brouetteImg {
    width: 54px;
    height: auto;
}